.gitignore
bazel-*
build/*
cmake-build/
cmake-build-debug/
docs/_build/

.idea/
.vscode/
tags

\.project/
*swp
*~
*.pyc
.python-version

mace/codegen/models/
mace/codegen/opencl/
mace/codegen/opencl_bin/
mace/codegen/tuning/
mace/codegen/version/
mace/codegen/engine/
mace/codegen/lib/

examples/android/macelibrary/src/main/cpp/mace/
examples/android/macelibrary/src/main/cpp/include/
examples/android/macelibrary/src/main/cpp/lib/arm64-v8a/
examples/android/macelibrary/src/main/jniLibs/arm64-v8a/

tools/python/py_proto/*_pb2.py

micro/codegen/**
micro/examples/micro
micro/build

mace-models

__pycache__
*.egg-info
.mace_run
.model
_fa_out
BuildProducts.txt
compileInfo.txt
opt_conformer.txt
opt_transformer.txt
opt_hifigan.txt
opt_acc.txt
opt_dsp.txt
opt_attn.txt
opt_com_sim.txt
opt_combine_qkv.txt

output.txt
outputs_fa_out
._qxx
log

workspace/transformer/transformer-no-where.onnx
workspace/transformer/transformer_data/.DS_Store
workspace/transformer/transformer_data/data/snpe_demo_data
workspace/transformer/transformer_data/transformer_data.tar

workspace/conformer/data
workspace/conformer/conformer.onnx
workspace/conformer/conformer_data/change_conformer.onnx
workspace/conformer/conformer_data/.DS_Store

workspace/attention/data
workspace/attention/tensor_data/
workspace/attention/python/

workspace/models
workspace/logs
workspace/test
workspace/test.cpp

acc_conformer.txt
conformer_vaild.txt